Repository GEON-PPANG/GEON-PPANG-AOS, pull requests merged in 2024-02, with the labels that each got.

#223 [mod] interceptor 분기 처리 수정 및 앱 내 유저 타입 지정
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/sopt/geonppang/data/datasource/local/GPDataSource.kt
  app/src/main/java/com/sopt/geonppang/data/interceptor/AuthInterceptor.kt
  app/src/main/java/com/sopt/geonppang/presentation/auth/AuthViewModel.kt
  app/src/main/java/com/sopt/geonppang/presentation/auth/SignActivity.kt
  app/src/main/java/com/sopt/geonppang/presentation/auth/SignUpNicknameActivity.kt
  app/src/main/java/com/sopt/geonppang/presentation/filterSetting/FilterSettingViewModel.kt
  app/src/main/java/com/sopt/geonppang/presentation/home/HomeFragment.kt
  app/src/main/java/com/sopt/geonppang/presentation/home/HomeViewModel.kt
  app/src/main/java/com/sopt/geonppang/presentation/type/AuthRoleType.kt
  app/src/main/java/com/sopt/geonppang/presentation/type/UserRoleType.kt
  app/src/main/res/layout/fragment_home.xml
Labels: 🐰 다은 🐰, 💫 feat 💫

#221 [mod] 필터뷰 슈정
  app/src/main/java/com/sopt/geonppang/data/model/request/RequestSettingFilter.kt
  app/src/main/java/com/sopt/geonppang/data/model/response/ResponseGetUserFilter.kt
  app/src/main/java/com/sopt/geonppang/data/model/response/ResponseSettingFilter.kt
  app/src/main/java/com/sopt/geonppang/domain/model/SelectedFilter.kt
  app/src/main/java/com/sopt/geonppang/presentation/filterSetting/FilterSettingActivity.kt
  app/src/main/java/com/sopt/geonppang/presentation/filterSetting/FilterSettingViewModel.kt
  app/src/main/java/com/sopt/geonppang/presentation/filterSetting/FilterViewPagerAdapter.kt
  app/src/main/java/com/sopt/geonppang/presentation/filterSetting/MainPurposeTypeFilterFragment.kt
  app/src/main/java/com/sopt/geonppang/presentation/model/AmplitudeFilterSettingInfo.kt
  app/src/main/java/com/sopt/geonppang/presentation/myPage/MyPageViewModel.kt
  app/src/main/java/com/sopt/geonppang/presentation/type/BreadFilterType.kt
  app/src/main/java/com/sopt/geonppang/presentation/type/MainPurposeFilterType.kt
  app/src/main/java/com/sopt/geonppang/presentation/type/MainPurposeType.kt
  app/src/main/java/com/sopt/geonppang/presentation/type/NutrientFilterType.kt
  app/src/main/res/layout/fragment_bread_type_filter.xml
  app/src/main/res/layout/fragment_main_purpose_type_filter.xml
  app/src/main/res/layout/fragment_nutrient_type_filter.xml
  app/src/main/res/layout/view_bread_type_button.xml
  app/src/main/res/layout/view_main_purpose_type_button.xml
  app/src/main/res/layout/view_nutrient_type_button.xml
  app/src/main/res/values/strings.xml
Labels: 🐸 지현 🐸, 🔮mod 🔮

#227 [feat] 동적 inflate를 위한 chip 관련 구현, BreadTypeList Dto 형태 수정 및 관련 뷰 수정
  app/build.gradle
  app/src/main/java/com/sopt/geonppang/data/model/response/BreadTypeIdDto.kt
  app/src/main/java/com/sopt/geonppang/data/model/response/NutrientTypeIdDto.kt
  app/src/main/java/com/sopt/geonppang/data/model/response/ResponseDetailBakery.kt
  app/src/main/java/com/sopt/geonppang/data/model/response/ResponseMyPageBookmark.kt
  app/src/main/java/com/sopt/geonppang/data/model/response/ResponseMyPageInfo.kt
  app/src/main/java/com/sopt/geonppang/data/model/response/ResponseMyPageReview.kt
  app/src/main/java/com/sopt/geonppang/data/model/response/ResponseSearch.kt
  app/src/main/java/com/sopt/geonppang/data/model/response/ResponseSettingFilter.kt
  app/src/main/java/com/sopt/geonppang/data/repository/MyPageRepositoryImpl.kt
  app/src/main/java/com/sopt/geonppang/domain/model/Bakery.kt
  app/src/main/java/com/sopt/geonppang/domain/model/BakeryInfo.kt
  app/src/main/java/com/sopt/geonppang/domain/model/MyReview.kt
  app/src/main/java/com/sopt/geonppang/domain/model/Profile.kt
  app/src/main/java/com/sopt/geonppang/domain/model/Search.kt
  app/src/main/java/com/sopt/geonppang/domain/model/SelectedFilter.kt
  app/src/main/java/com/sopt/geonppang/domain/repository/MyPageRepository.kt
  app/src/main/java/com/sopt/geonppang/presentation/bakeryList/BakeryListAdapter.kt
  app/src/main/java/com/sopt/geonppang/presentation/bakeryList/BakeryListFragment.kt
  app/src/main/java/com/sopt/geonppang/presentation/common/BakeryAdapter.kt
  app/src/main/java/com/sopt/geonppang/presentation/detail/DetailActivity.kt
  app/src/main/java/com/sopt/geonppang/presentation/detail/DetailBakeryInfoAdapter.kt
  app/src/main/java/com/sopt/geonppang/presentation/detail/DetailViewModel.kt
  app/src/main/java/com/sopt/geonppang/presentation/model/BakeryReviewWritingInfo.kt
  app/src/main/java/com/sopt/geonppang/presentation/model/MyReviewBakeryInfo.kt
  app/src/main/java/com/sopt/geonppang/presentation/myPage/MyBookMarksActivity.kt
  app/src/main/java/com/sopt/geonppang/presentation/myPage/MyPageFragment.kt
  app/src/main/java/com/sopt/geonppang/presentation/myPage/MyPageViewModel.kt
  app/src/main/java/com/sopt/geonppang/presentation/myPage/MyReviewActivity.kt
  app/src/main/java/com/sopt/geonppang/presentation/myPage/MyReviewAdapter.kt
  app/src/main/java/com/sopt/geonppang/presentation/myReviewDetail/MyReviewDetailActivity.kt
  app/src/main/java/com/sopt/geonppang/presentation/myReviewDetail/MyReviewDetailViewModel.kt
  app/src/main/java/com/sopt/geonppang/presentation/reviewWriting/ReviewWritingActivity.kt
  app/src/main/java/com/sopt/geonppang/presentation/search/SearchActivity.kt
  app/src/main/java/com/sopt/geonppang/util/ChipFactory.kt
  app/src/main/java/com/sopt/geonppang/util/VerticalProgressBar.kt
  app/src/main/java/com/sopt/geonppang/util/extension/ChipExt.kt
  app/src/main/res/layout/activity_my_review_detail.xml
  app/src/main/res/layout/activity_review_writing.xml
  app/src/main/res/layout/fragment_my_page.xml
  app/src/main/res/layout/item_bakery.xml
  app/src/main/res/layout/item_detail_bakery_info.xml
  app/src/main/res/layout/item_my_review.xml
  app/src/main/res/layout/view_bread_type_chip_gray.xml
  app/src/main/res/layout/view_bread_type_chip_point_m1.xml
  app/src/main/res/layout/view_bread_type_chip_point_m2.xml
  app/src/main/res/layout/view_chip_review_recommended_keyword.xml
Labels: 🐰 다은 🐰, 💫 feat 💫

#230 [feat] 건빵집 리스트 페이징 구현 및 리팩토링
  app/build.gradle
  app/src/main/java/com/sopt/geonppang/data/datasource/local/GPDataSource.kt
  app/src/main/java/com/sopt/geonppang/data/datasource/remote/BakeryDataSource.kt
  app/src/main/java/com/sopt/geonppang/data/model/response/ResponseBakeryList.kt
  app/src/main/java/com/sopt/geonppang/data/repository/BakeryListPagingRepository.kt
  app/src/main/java/com/sopt/geonppang/data/repository/BakeryListPagingSource.kt
  app/src/main/java/com/sopt/geonppang/data/repository/BakeryRepositoryImpl.kt
  app/src/main/java/com/sopt/geonppang/data/service/BakeryService.kt
  app/src/main/java/com/sopt/geonppang/di/RepositoryModule.kt
  app/src/main/java/com/sopt/geonppang/domain/model/BakeryListFilterType.kt
  app/src/main/java/com/sopt/geonppang/domain/repository/BakeryRepository.kt
  app/src/main/java/com/sopt/geonppang/presentation/bakeryList/BakeryListFragment.kt
  app/src/main/java/com/sopt/geonppang/presentation/bakeryList/BakeryListPagingDataAdapter.kt
  app/src/main/java/com/sopt/geonppang/presentation/bakeryList/BakeryListSortBottomSheetDialog.kt
  app/src/main/java/com/sopt/geonppang/presentation/bakeryList/BakeryListViewModel.kt
  app/src/main/java/com/sopt/geonppang/presentation/common/BakeryAdapter.kt
  app/src/main/java/com/sopt/geonppang/presentation/detail/DetailActivity.kt
  app/src/main/java/com/sopt/geonppang/presentation/detail/DetailBakeryInfoAdapter.kt
  app/src/main/java/com/sopt/geonppang/presentation/myPage/MyBookMarksActivity.kt
  app/src/main/java/com/sopt/geonppang/presentation/myPage/MyReviewActivity.kt
  app/src/main/java/com/sopt/geonppang/presentation/myPage/MyReviewAdapter.kt
  app/src/main/java/com/sopt/geonppang/presentation/type/BakeryCategoryType.kt
  app/src/main/java/com/sopt/geonppang/util/extension/ChipExt.kt
  app/src/main/res/layout/dialog_bottom_bakery_list_sort.xml
  app/src/main/res/layout/fragment_bakery_list.xml
Labels: 🐰 다은 🐰, 💫 feat 💫

#232 [mod] 릴리즈 전 각종 이슈 해결 및 버전 네임 업데이트
  app/build.gradle
  app/src/main/java/com/sopt/geonppang/data/repository/BakeryListPagingRepository.kt
  app/src/main/java/com/sopt/geonppang/domain/model/Profile.kt
  app/src/main/java/com/sopt/geonppang/presentation/bakeryList/BakeryListFragment.kt
  app/src/main/java/com/sopt/geonppang/presentation/bakeryList/BakeryListViewModel.kt
  app/src/main/java/com/sopt/geonppang/presentation/home/HomeFragment.kt
  app/src/main/java/com/sopt/geonppang/presentation/home/HomeViewModel.kt
  app/src/main/java/com/sopt/geonppang/presentation/myPage/MyPageFragment.kt
  app/src/main/java/com/sopt/geonppang/presentation/myPage/MyPageViewModel.kt
  app/src/main/res/layout/fragment_bakery_list.xml
  app/src/main/res/values/strings.xml
  build.gradle
Labels: 🐰 다은 🐰, 🔮mod 🔮

#234 [mod] 비회원이 내 필터를 클릭하면 로그인 유도 바텀 시트를 띄우도록 구현
  app/build.gradle
  app/src/main/java/com/sopt/geonppang/domain/model/BakeryListFilterType.kt
  app/src/main/java/com/sopt/geonppang/presentation/bakeryList/BakeryListFragment.kt
  app/src/main/java/com/sopt/geonppang/presentation/bakeryList/BakeryListViewModel.kt
  app/src/main/res/layout/fragment_bakery_list.xml
Labels: 😽 주영 😽, 🔮mod 🔮
